{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Interview Preparation Assistant</title>

<link rel="stylesheet" href="{% static 'css/logout.css' %}?v=3">

<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>
<body>
   
<div class="background-circle circle1"></div>
<div class="background-circle circle2"></div>

<div class="logout-card">

    <div class="icon-box">
        <i class="fa-solid fa-right-from-bracket"></i>
    </div>

    <h1>Logged Out Successfully!</h1>

    <div class="line"></div>

    <p class="subtitle">
        You have been securely logged out of your account.
    </p>

    <div class="message-box">
        <i class="fa-solid fa-shield-halved"></i>
        <span>Thank you for using <b>AI Interview Assistant.</b></span>
    </div>

    <div class="buttons">
<button class="login-btn" id="loginBtn">
    <i class="fa-solid fa-user"></i>
    Login Again
</button>


<button class="home-btn" id="homeBtn">
    <i class="fa-solid fa-house"></i>
    Go to Home
</button>

    </div>

</div>
 
    <script src="../js1/logout.js"></script>
</body>
</html>