{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Interview Preparation Assistant</title>

<link rel="stylesheet" href="{% static 'css/Practice_Saved_Question.css' %}?v=3">

<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>
<body>
   
<div class="container">
<div class="header"><a href="{% url 'practice' %}">

     <i class="fa-solid fa-arrow-left"></i>
    </a>
        
        <h2>Practice</h2>
    </div> 
    <div class="header">
        <div class="icon">
            <i class="fa-regular fa-bookmark"></i>
        </div>

        <div>
            <h1>Saved Questions</h1>
            <p>Your saved interview questions</p>
        </div>
    </div>

    <div class="search-section">
        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search saved questions...">
        </div>

        <button class="filter-btn">
            <i class="fa-solid fa-filter"></i>
            Filter
        </button>
    </div>

    <h3 class="count">Total 12 saved questions</h3>

    <!-- Card 1 -->

    <div class="card">

        <div class="top">
            <span class="tag technical">Technical</span>

            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>

        <h2>What is the difference between HTTP and HTTPS?</h2>

        <div class="bottom">

            <div class="info">
                <span class="dot purple"></span>
                Medium
            </div>

            <div class="date">
                Saved on 21 Jul 2025
            </div>

            <i class="fa-solid fa-bookmark bookmark"></i>

        </div>

    </div>

    <!-- Card 2 -->

    <div class="card">

        <div class="top">
            <span class="tag technical">Technical</span>
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>

        <h2>Explain the OSI Model in detail.</h2>

        <div class="bottom">

            <div class="info">
                <span class="dot purple"></span>
                Medium
            </div>

            <div class="date">
                Saved on 20 Jul 2025
            </div>

            <i class="fa-solid fa-bookmark bookmark"></i>

        </div>

    </div>

    <!-- Card 3 -->

    <div class="card">

        <div class="top">
            <span class="tag aptitude">Aptitude</span>
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>

        <h2>A train travels 360 km in 6 hours. What is its speed?</h2>

        <div class="bottom">

            <div class="info">
                <span class="dot green"></span>
                Easy
            </div>

            <div class="date">
                Saved on 19 Jul 2025
            </div>

            <i class="fa-solid fa-bookmark bookmark"></i>

        </div>

    </div>

    <!-- Card 4 -->

    <div class="card">

        <div class="top">
            <span class="tag hr">HR</span>
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>

        <h2>Tell me about yourself.</h2>

        <div class="bottom">

            <div class="info">
                <span class="dot blue"></span>
                Easy
            </div>

            <div class="date">
                Saved on 18 Jul 2025
            </div>

            <i class="fa-solid fa-bookmark bookmark"></i>

        </div>

    </div>

    <!-- Card 5 -->

    <div class="card">

        <div class="top">
            <span class="tag technical">Technical</span>
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>

        <h2>What is a database index?</h2>

        <div class="bottom">

            <div class="info">
                <span class="dot purple"></span>
                Medium
            </div>

            <div class="date">
                Saved on 18 Jul 2025
            </div>

            <i class="fa-solid fa-bookmark bookmark"></i>

        </div>

    </div>

</div>
  <script src="../js1/Practice Saved Question.js"></script>
    
</body>
</html>
