{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Interview Preparation Assistant</title>

<link rel="stylesheet" href="{% static 'css/Recent MI.css' %}?v=3">

<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>
<body>
    
<div class="container">

<div class="header">

<div class="left">

<a href="dashboard.html" class="back-btn">
<i class="fa-solid fa-arrow-left"></i>
</a>

<h2>Recent Mock Interviews</h2>

</div>


</div>

        <!-- Row -->

        <div class="row">

            <div class="job">
                <div class="job-icon">
                    <i class="fa-solid fa-code"></i>
                </div>

                <div>
                    <h3>Frontend Developer</h3>
                    <p>Software Development</p>
                </div>
            </div>

            <div>
                <p><i class="fa-regular fa-calendar"></i> May 21, 2025</p>
                <p><i class="fa-regular fa-clock"></i> 45 mins</p>
            </div>

            <div class="score green-text">
                <span>85%</span>
            </div>

            <div>
                <h4 class="green-text">Good Performance</h4>
                <p>18 / 22 Questions</p>
            </div>

            <button>View Details</button>

        </div>

        <div class="row">

            <div class="job">
                <div class="job-icon">
                    <i class="fa-solid fa-briefcase"></i>
                </div>

                <div>
                    <h3>Software Engineer</h3>
                    <p>Software Development</p>
                </div>
            </div>

            <div>
                <p><i class="fa-regular fa-calendar"></i> May 25, 2026</p>
                <p><i class="fa-regular fa-clock"></i> 50 mins</p>
            </div>

            <div class="score orange-text">
                <span>72%</span>
            </div>

            <div>
                <h4 class="orange-text">Average Performance</h4>
                <p>18 / 25 Questions</p>
            </div>

            <button>View Details</button>

        </div>

        <div class="row">

            <div class="job">
                <div class="job-icon">
                    <i class="fa-solid fa-server"></i>
                </div>

                <div>
                    <h3>Backend Developer</h3>
                    <p>Software Development</p>
                </div>
            </div>

            <div>
                <p><i class="fa-regular fa-calendar"></i> May 18, 2025</p>
                <p><i class="fa-regular fa-clock"></i> 48 mins</p>
            </div>

            <div class="score green-text">
                <span>90%</span>
            </div>

            <div>
                <h4 class="green-text">Excellent Performance</h4>
                <p>27 / 30 Questions</p>
            </div>

            <button>View Details</button>
 </div>

        <div class="row">

            <div class="job">
                <div class="job-icon">
                      <i class="fa-solid fa-chart-simple"></i>
                </div>

                <div>
                    <h3>Data Scientist</h3>
                    <p>Data Scientist</p>
                </div>
            </div>

            <div>
                <p><i class="fa-regular fa-calendar"></i> June 09, 2026</p>
                <p><i class="fa-regular fa-clock"></i> 55 mins</p>
            </div>

            <div class="score orange-text">
                <span>76%</span>
            </div>

            <div>
                <h4 class="orange-text">Average Performance</h4>
                <p>20 / 25 Questions</p>
            </div>

            <button>View Details</button>
 </div>

        <div class="row">

            <div class="job">
                <div class="job-icon">
                    <i class="fa-solid fa-pen-ruler"></i>
                </div>

                <div>
                    <h3>UX/UI Designer</h3>
                    <p>UX/UI Designer</p>
                </div>
            </div>

            <div>
                <p><i class="fa-regular fa-calendar"></i> July 22, 2026</p>
                <p><i class="fa-regular fa-clock"></i> 40 mins</p>
            </div>

            <div class="score orange-text">
                <span>80%</span>
            </div>

            <div>
                <h4 class="orange-text">Average Performance</h4>
                <p>17 / 25 Questions</p>
            </div>

            <button>View Details</button>

        </div>
            
        <div class="row">

            <div class="job">
                <div class="job-icon">
                    <i class="fa-solid fa-briefcase"></i>
                </div>

                <div>
                    <h3>Software Engineer</h3>
                    <p>Software Development</p>
                </div>
            </div>

            <div>
                <p><i class="fa-regular fa-calendar"></i> Augest 20, 2026</p>
                <p><i class="fa-regular fa-clock"></i> 45 mins</p>
            </div>

            <div class="score orange-text">
                <span>75%</span>
            </div>

            <div>
                <h4 class="orange-text">Average Performance</h4>
                <p>19 / 25 Questions</p>
            </div>

            <button>View Details</button>

        </div>
           
        <div class="row">

            <div class="job">
                <div class="job-icon">
                    <i class="fa-solid fa-code"></i>
                </div>

                <div>
                    <h3>Frontend Developer</h3>
                    <p>Software Development</p>
                </div>
            </div>

            <div>
                <p><i class="fa-regular fa-calendar"></i> June 13, 2026</p>
                <p><i class="fa-regular fa-clock"></i> 46 mins</p>
            </div>

            <div class="score green-text">
                <span>87%</span>
            </div>

            <div>
                <h4 class="green-text">Good Performance</h4>
                <p>22 / 22 Questions</p>
            </div>

            <button>View Details</button>

        </div>
           
        <div class="row">

            <div class="job">
                <div class="job-icon">
                      <i class="fa-solid fa-chart-simple"></i>
                </div>

                <div>
                    <h3>Data Scientist</h3>
                    <p>Data Scientist</p>
                </div>
            </div>

            <div>
                <p><i class="fa-regular fa-calendar"></i> July 08, 2026</p>
                <p><i class="fa-regular fa-clock"></i> 54 mins</p>
            </div>

            <div class="score green-text">
                <span>89%</span>
            </div>

            <div>
                <h4 class="green-text">Good Performance</h4>
                <p>23 / 22 Questions</p>
            </div>

            <button>View Details</button>

        </div>

        </div>

        </div>

     <script src="../js1/Recent MI.js"></script>
</body>
</html>